@model CustomerClean.Domain.Models.Services_tbl
<div id="app" class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">‌ ویرایش اطلاعات </span>
        </h4>
        <!-- Sticky Actions -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form action="/Services/EditeServices" enctype="multipart/form-data" method="POST">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 mx-auto">
                                    <!-- 1. Delivery Address -->
                                    <h5 class="mb-4">تکمیل اطلاعات</h5>
                                    <div class="row g-3">
                                        <div class="col-md-4">
                                            <label class="form-label" for="fullname">نام خدمت </label>
                                            <input type="text" asp-for="Service_Name" id="Service_Name" name="Service_Name" class="form-control">
                                            <input type="hidden" asp-for="id" id="id" value="@Model.id" name="id" class="form-control">
                                        </div>
                                        <div class="col-md-12">
                                            <br />
                                            <hr />
                                            <button type="submit" class="btn btn-warning">ذخیره اطلاعات</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- /Sticky Actions -->
</div>
