@model CustomerClean.Domain.Models.Main_Form_tbl
<div id="app" class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">‌ ثبت اطلاعات مشتری /</span>
            جدید
        </h4>
        <!-- Sticky Actions -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form action="/Home/AddCustomer" enctype="multipart/form-data" method="POST">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 mx-auto">
                                    <!-- 1. Delivery Address -->
                                    <h5 class="mb-4">تکمیل اطلاعات</h5>
                                    <div class="row g-3">
                                        <div class="col-md-4">
                                            <label class="form-label" for="fullname">نام </label>
                                            <input type="text" required asp-for="FName" id="FName" name="FName" class="form-control">
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label" for="phone"> نام خانوادگی</label>
                                            <input type="text" required asp-for="Lname" id="Lname" name="Lname" class="form-control phone-mask text-start" dir="ltr">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" for="alt-num"> کد شناسایی</label>
                                            <input type="text" required readonly asp-for="Sys_Id" id="Sys_Id" value="@ViewBag.Sys_Id" name="Sys_Id" id="alt-num" class="form-control phone-mask text-start" dir="ltr">
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label" for="alt-num"> شماره موبایل </label>
                                            <input type="text" required asp-for="Mobile" id="Mobile" name="Mobile" id="alt-num" class="form-control phone-mask text-start" dir="ltr">
                                        </div>


                                        <div class="col-md-4">
                                            <label class="form-label" for="state">استان</label>
                                            <select id="state" required name="State_Id" class="select2 form-select">
                                                <option value="">انتخاب</option>
                                                <option v-for="item in Provinces" :value="item.id">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" for="city">شهر</label>
                                            <select id="city" name="City_Id" class="select2 form-select">
                                                <option value="">انتخاب</option>
                                                <option v-for="item in Citys" :value="item.id">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label" for="address">آدرس</label>
                                            <textarea required name="address" class="form-control" id="address" rows="2" placeholder="بلوار نیایش"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="state">دسته بندی خدمات</label>
                                            <select required id="Services_Id" name="Services_Id" class="select2 form-select">
                                                <option value="">انتخاب</option>
                                                <option v-for="item in Services" :value="item.id">{{item.service_Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- 2. Delivery Type -->
                                    <h5 class="my-4"> سطح مشتری</h5>
                                    <div class="row gy-3">
                                        <div class="col-md">
                                            <div class="form-check custom-option custom-option-icon">
                                                <label class="form-check-label custom-option-content" for="customRadioIcon1">
                                                    <span class="custom-option-body">
                                                        <i class='bx bx-extension'></i>
                                                        <span class="custom-option-title"> برنزی </span>

                                                    </span>
                                                    <input name="Gride_id" class="form-check-input" type="radio" value="برنزی" id="customRadioIcon1" checked>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-check custom-option custom-option-icon">
                                                <label class="form-check-label custom-option-content" for="customRadioIcon2">
                                                    <span class="custom-option-body">
                                                        <i class="bx bx-crown"></i>
                                                        <span class="custom-option-title"> نقره ای </span>

                                                    </span>
                                                    <input name="Gride_id" class="form-check-input" type="radio" value="نقره ای" id="customRadioIcon2">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-check custom-option custom-option-icon">
                                                <label class="form-check-label custom-option-content" for="customRadioIcon3">
                                                    <span class="custom-option-body">

                                                        <i class='bx bxs-crown'></i>
                                                        <span class="custom-option-title"> طلایی </span>

                                                    </span>
                                                    <input name="Gride_id" class="form-check-input" type="radio" value="طلایی" id="customRadioIcon3">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 3. Apply Promo code -->

                                </div>

                                <!-- 4. Payment Method -->

                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <input onchange="document.getElementById('uploadedAvatar1').src = window.URL.createObjectURL(this.files[0])" accept="application/pdf,image/*" name="MeliImage_Name" type="file" class="form-control" style="display:none" id="inputGroupFile02">
                                        <label class="input-group-text" for="inputGroupFile02">آپلود کارت ملی</label>
                                        <img src="/assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" style="width:200px;height:200px;margin: 12px 1px 1px 1px;" id="uploadedAvatar1">
                                    </div>
                                    <div class="col-md-6">
                                        <input onchange="document.getElementById('uploadedAvatar2').src = window.URL.createObjectURL(this.files[0])" accept="application/pdf,image/*" name="GuaranteeImage_Name" type="file" class="form-control" style="display:none" id="inputGroupFile03">
                                        <label class="input-group-text" for="inputGroupFile03">آپلود تعهد نامه</label>
                                        <img src="/assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" style="width:200px;height:200px;margin: 12px 1px 1px 1px;" id="uploadedAvatar2">
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <br />
                                    <br />
                                    <br />
                                    <hr />
                                    <button type="submit" class="btn btn-warning">ذخیره اطلاعات</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- /Sticky Actions -->
</div>
